# https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/

# Unit test / coverage reports
.pytest_cache/

# data
data/summlink-ami/
data/summlink-icsi/
data/rm_raw_ami/
data/rm_raw_icsi/
data/meeting_summary_rm_ami.json
data/meeting_summary_comparisons.json

# model checkpoints
outputs/